/* nico block of code */

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  background-color: #ccc;
  padding: 10px;
}

#grid>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 1px solid #bbb;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;

}

body {
  background-color: aquamarine;
}